#allCivs {
    max-height: 180px;
    overflow-y: scroll;
    font-size: 0.90rem;
}

#civCardTitle {
    margin-top: 8px;
}

@media (min-width: 992px) {
    #dlcPackSelect {
        border-left: 1px solid;
    }
}

@media (max-width: 991px) {
    #dlcPackSelect {
        border-top: 1px solid;
    }
}
